<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\style.css">
    <title>Car Price Prediction</title>
</head>
<body>
    {% include 'navbar.html' %}

    <h2>Car Price Prediction</h2>
    <form id="carForm" action="{{ url_for('car') }}" method="POST">

        <label for="car_model">Car Model:</label><br>
        <select id="car_model" name="Car_Name" required>
            {% for car in car_names %}
                <option value="{{ car }}">{{ car }}</option>
            {% endfor %}
        </select><br><br>
        
        <label for="year">Year:</label><br>
        <input type="number" id="year" name="Year" required><br><br>
        
        <label for="present_price">Present Price:</label><br>
        <input type="number" id="present_price" name="Present_Price" required><br><br>
        
        <label for="driven_kms">Driven Kms:</label><br>
        <input type="number" id="driven_kms" name="Driven_kms" required><br><br>
        
        <label for="fuel_type">Fuel Type:</label><br>
        <select id="fuel_type" name="Fuel_Type" required>
            <option value="Petrol">Petrol</option>
            <option value="Diesel">Diesel</option>
            <option value="CNG">CNG</option>
        </select><br><br>
        
        <label for="selling_type">Selling Type:</label><br>
        <select id="selling_type" name="Selling_Type" required>
            <option value="Dealer">Dealer</option>
            <option value="Individual">Individual</option>
        </select><br><br>
        
        <label for="transmission">Transmission:</label><br>
        <select id="transmission" name="Transmission" required>
            <option value="Manual">Manual</option>
            <option value="Automatic">Automatic</option>
        </select><br><br>
        
        <label for="owner">Owner:</label><br>
        <input type="number" id="owner" name="Owner" min="0" max="3" required><br><br>
        
        <button type="submit">Predict</button>
    </form>
    
    

    {% if prediction %}
    <p>Predicted Selling Price: <strong>{{ prediction }}</strong> Lakhs</p>
    {% endif %}
</body>
</html>
